<% include partials/header.ejs %>
<br>
<br>
<div class="container" style="text-align: center; border: 1.5px solid lightgrey;">
	<h2>
	Post Input
</h2>

<form action="/posts" method="POST">
	<div class="form-group">
		<input class="formElement" type="text" name="title" placeholder="Title"><br>
		<input class="formElement" type="text" name="image" placeholder="Image URL"><br>
		<textarea class="formElement" type="text" name="content" rows="4" placeholder="Content"></textarea><br>
		<button class="formElement" type="submit" value="submit">Submit</button>
	</div>
</form>
</div>


<% include partials/footer.ejs %>