<h2>
	This is where the form will go.
</h2>

<form action="/posts" method="POST">
	<div class="form-group">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="content" placeholder="Content">
		<input type="text" name="image" placeholder="Image URL">
		<button type="submit" value="submit">Submit</button>
	</div>
</form>