<% include partials/header.ejs %>

    <div class="jumbotron">
            <div class="container">
            <h1>Matt's Blog</h1>
			<a href="/posts" class="btn btn-danger">enter</a>
        </div>
    </div>

<a href="/form">Add New Post</a>
<% include partials/footer.ejs %>