<% include partials/header.ejs %>

<h1>
	 This is your post
</h1>

<% array.forEach(function(post){ %>
<h2>
	Title: <%= post.title %>
</h2>
<h2>
	Content: <%= post.content %>
</h2>
<h2>
	<img src="<%= post.image %>">
</h2>
<% }) %>

<a href ="/form">Add another</a>




<% include partials/footer.ejs %>

