.jumbotron {
    height: 94vh;
    text-align: center;
    background: url("brightonBackground.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

.showTemplate {
	padding: 30px;
}

#showPage {
	border-radius: 10px;
}

.form-group{
	text-align: center;
}

.formElement {
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	min-width: 30em;
	height: 5em;
}

h3 {
    text-align: center;
	padding-top: 6px;
	padding-bottom: 15px;
}

h2 {
	margin-bottom: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
    font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 3px solid #fcba03;
}

#lpTitles {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#postPage {
	margin-bottom: 0px;
}

.collapseNav {
	padding-top: 2px;
	padding-bottom: 2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
	text-align: center;
}

#title {
    padding-top: 60px;
    size: 100px;
    font-family: 'Montserrat', sans-serif;
}

.collapse {
	margin: 0px;
	padding: 0px;
}

.btn {
	background: lightgrey;
	border: 2px solid #fcba03;
}

#cards {
	border: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
	margin-top: 15px;
    width: 50%;
    border-radius: 10px;
	opacity: 0.8;
  	filter: alpha(opacity=80);
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

p {
    text-indent: 35px;
}

.post {
	border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
	margin-bottom: 60px;
	overflow-y: auto;
	font-family: 'Montserrat', sans-serif;
}

#prevImage {
    float: right;
    height: 300px;
    width: auto;
    margin-right: 15px;
}

.column {
    width: 32%;
    padding: 5px;
    position: relative;
    display: inline-block;
}

.oldImg {
    width: 100%;
    opacity: 0.8;
    float: left;
}

#oldPosts {
    padding-top: 10px;
    height: 600px;
}

.column .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
}

.wrapper {
	margin: 0px;
}

