body {
    font-family: 'Montserrat', sans-serif;
}
.jumbotron {
    height: 600px;
    text-align: center;
    background: url("brightonBackground.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
	margin-bottom: 0px;
}

h1 {
    padding-top: 60px;
    size: 60px;
}

.collapse {
	margin: 0px;
	padding: 0px;
}

.btn {
	margin-left: 50%;
}

#mostRecentCard {
    height: 750px;
    overflow: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
    border-radius: 10px;
}

p {
    text-indent: 35px;
}

.card .mb3 {
    width: 200px;
    overflow: auto;
}

.post {
    border: 1.5px solid lightgrey;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding-right: 20px;
}

#prevImage {
    float: right;
    height: 300px;
    width: auto;
    margin-right: 15px;
}

.column {
    width: 50%;
    padding: 3px;
    position: relative;
    display: inline-block;
}

.oldImg {
    width: 100%;
    opacity: 0.8;
    float: left;
}

.oldPosts {
    padding-top: 10px;
    height: 400px;
}

.column .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}

.wrapper {
	margin: 0px;
}
